<div class="intro">
    {{ with .Site.Params.avatar}}
    {{ $avatar := .}}
    <div class="avatar">
    <a href="{{ (printf "%s" $.Site.Params.avatar_target) }}"> <img src="{{ (printf "%s" $avatar)}}"> </a>
    </div>
    {{ end }}
    {{ with .Site.Params.subtitle}}
    <h1 class="author">
        {{ $.Site.Params.author }}
    </h1>
    <h2 class="description">
       {{ . }}
    </h2>
    {{ end }}
    <div class="social-links">
        {{ partial "social.html" . }}
    </div>
    {{ with .Site.Params.buttons.items }}
    <div class="button-group">
        {{ range . }}
        <a href="{{ .url | relURL }}" class="ghost-button">{{ .label }}</a>
        {{ end }}
    </div>
    {{ end }}
</div>

{{ if .IsHome }}
    {{ partial "wechat.html" . }}
{{ end }}